<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ParkingInfoSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ParkingInfoSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://online.infracontrol.com/Areas/Parking/Services/v1/ParkingInfo.asmx"
                binding="basicHttpBinding" bindingConfiguration="ParkingInfoSoap"
                contract="ParkingInfoService.ParkingInfoSoap" name="ParkingInfoSoap" />
        </client>
    </system.serviceModel>
</configuration>